<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Template is working!!</title>
    </head>
    <body>
        <h1>Welcome to the ext analyzer. Enter your text bleow!</h1>
        <!-- {{name}} from {{place}} -->
        <form action="/removepunc" method="get">
            <textarea  name='text' style="margin: 0px; width: 698px; height: 107px;"></textarea><br>
            <input type="checkbox" name='removepunc'/>Removepunc<br>
            <button type="submit">Analyze</button>
        </form>
    </body>

</html>