<!DOCTYPE html>
<html>

<head>
    <title>HOME|PAGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <label for="comment">Comment:</label>
    <form action="/removepunc" method="get">
        <textarea name='text' style="margin: 0px; width: 698px; height: 107px;"></textarea><br>
        <input type="checkbox" name='removepunc'/>Removepunc<br>
        <button type="submit">Analyze</button> 
    </form>
    <!-- <label class="radio-inline"><input type="checkbox" name="removepunc">Removepunc</label>
    <label class="radio-inline"><input type="checkbox" name="optradio">Option 2</label>
    <label class="radio-inline"><input type="checkbox" name="optradio">Option 3</label> -->
</body>

</html>